html, body {
  background-color:#b6b4b4;
  height: 60%
  width: 60%
}

h1{
    font-family: 'Roboto Mono', monospace;
    text-align:center;
}

.introducter{
    text-align:left;
font-size: 12px;
    font-family: 'Anybody', cursive;
  font-stretch:extra-condensed;

}

.titler{
  
background-color: blue;
color:#fffafa;
font-size:20px;}







.titlename{font-family: 'Poppins', sans-serif;
font-size:18px;}










.projecto{
    margin:15px;
    border: 5px;
    background-color: black;
  	border: none;
  	color: white;
  	padding: 8px 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Kanit', sans-serif;
}

.contact{
    margin:15px;
    border: 5px;
    background-color: black;
  	border: none;
  	color: white;
  	padding: 8px 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Kanit', sans-serif;
	}

.about{
    
    margin:15px;
    border: 5px;
    background-color: black;
  	border: none;
  	color: white;
  	padding: 8px 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Kanit', sans-serif;
	}

.donuts{
    display:flex;
   justify-content: center;
    background-color:purple;
}

.home{
margin:15px;
    border: 5px;
    background-color: black;
  	border: none;
  	color: white;
  	padding: 8px 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Kanit', sans-serif;
}

.hlome{display:flex;
   justify-content: center;
    background-color:red;
}

.aboute{
    
    margin:15px;
    border: 5px;
    background-color: black;
  	border: none;
  	color: white;
  	padding: 8px 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Kanit', sans-serif;
	}


.reachingout{font-size:25px;
  font-family: 'Anybody', cursive;
  font-stretch:extra-condensed;
}

.emailz{
    text-align:center;
font-size: 25px;
    font-family: 'Anybody', cursive;}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}

.resumerest{display:flex;
   justify-content: center;
    background-color:#ffffff;
}


.resumerest:hover{transform: scale(1.5);}

.resumerest{
  width:300px;
  height:auto;
}


.zombs{
  width:300px;
}

.gallery{
  width:300px;
}

.char{
  width:300px;
}

.bmii{
  width:300px;
}
      
          
.zombstalk{
    text-align:center;
font-size: 30px;
    font-family: 'Anybody', cursive;
  font-stretch:extra-condensed;

}

.gal{
    text-align:center;
font-size: 30px;
    font-family: 'Anybody', cursive;
  font-stretch:extra-condensed;

}

.character{
    text-align:center;
font-size: 30px;
    font-family: 'Anybody', cursive;
  font-stretch:extra-condensed;

}

.bmi{
    text-align:center;
font-size: 30px;
    font-family: 'Anybody', cursive;
  font-stretch:extra-condensed;

}